.user-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 8vw;
    height: 100vh;
}

.user-nav-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    margin-top: 4px;
}

.menu-img-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.menu-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
}

.link-nav-menu {
    color: #FFFFFF;
    text-decoration: none;
}

.link-nav-menu:hover {
    color: var(--purple);
    text-decoration: none;
}

.link_nav-menu-item {
    color: var(--green);
    padding-left: 12px;
}

.menu-title {
    margin-top: 12px;
}