.user-nav-container {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 8vw;
    height: 100vh;
}

.user-nav-list {
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    margin-top: 4px;
}

.user-nav-lis li {
    border: 2px solid green;
}

.menu-img-wrapper .menu-img {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 10px;
}