@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap');

#root {
  background: rgb(39, 38, 38);
  background: -moz-linear-gradient(115deg, rgba(39, 38, 38, 1) 0%, rgba(49, 18, 87, 1) 28%, rgba(99, 42, 168, 1) 80%, rgba(153, 69, 255, 1) 95%, rgba(20, 241, 149, 1) 100%);
  background: -webkit-linear-gradient(115deg, rgba(39, 38, 38, 1) 0%, rgba(49, 18, 87, 1) 28%, rgba(99, 42, 168, 1) 80%, rgba(153, 69, 255, 1) 95%, rgba(20, 241, 149, 1) 100%);
  background: linear-gradient(115deg, rgba(39, 38, 38, 1) 0%, rgba(49, 18, 87, 1) 28%, rgba(99, 42, 168, 1) 80%, rgba(153, 69, 255, 1) 95%, rgba(20, 241, 149, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#272626", endColorstr="#14f195", GradientType=1);
  --purple: #8c3cff;
  --purple-dark: #311257;
  --purple-tile: rgba(49, 18, 87, 0.33);
  --green: #14F195;
  --grey-super-dark: #1C1C1C;
  --grey-dark: rgba(12, 12, 12, 0.5);
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
}

.window-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 10vw;
  height: 100vh;
  background-color: var(--grey-dark);
  z-index: 2;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 100vh;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 90vw;
  height: 5vh;
  background-color: var(--purple-dark);
}

.content-outer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90vw;
  height: 95vh;
}

.content-left-inner-container {
  display: flex;
  flex-direction: column;
  height: calc(90vh - 48px);
  width: 35vw;
  padding: 24px;
  background-color: var(--purple-tile);
  border-radius: 16px;
  z-index: 2;
}

.content-right-inner-container {
  display: flex;
  flex-direction: column;
  height: calc(90vh - 48px);
  width: 45vw;
  padding: 24px;
  background-color: var(--purple-tile);
  border-radius: 16px;
  z-index: 2;
}