.intro-article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    max-width: 400px;
    height: 100%;
}

.intro-text {
    color: white;
    font-size: 0.75em;
    text-align: justify;
}

.intro-img-wrapper .company-logo {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    width: 320px;
    height: 320px;
    opacity: 0.8;
    z-index: -1;
    margin-top: 24px;
}